.acc-con {
    margin: 2rem 0;
    .wp-block-column & {
        margin: 0;
    }

    >div {
        position: relative;
        box-shadow: 0 0 1px #ababab;
        &:hover {
            box-shadow: 0 0 2px #ababab;
            z-index: 1;
        }
    }
    .arrow {
        content: '';
        position: absolute;
        right: 0;
        right: 1.5rem;
        top: 1.5rem;
        opacity: 1;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid var(--link);
        transition: 0.3s ease;
        z-index: 2;

    }

    .acc-head {
        background-color: var(--acc-head-bg);
        padding: 1rem 1.5rem;
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:hover {
        	.arrow {
        		border-top-color: var(--body-font);
        	}
        }
    }

    .acc-content {
        display: none;
        padding: 1rem 2rem;
        p {
        	margin: 0 0 1rem 0;
        }
    }

    .arrow-animate {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid red;
        border-top:0;
    }

}
.acc-title {
    margin: 0;
    position: relative;
    z-index: 1;
}