.acc-con {
    margin: 2rem 0;
        background-image: linear-gradient(to right, #808080 10%, rgba(255, 255, 255, 0) 0%);
    background-position: top;
    background-size: 6px 1px;
    background-repeat: repeat-x;
    .wp-block-column & {
        margin: 0;
    }

    >div {
        position: relative;
        background-image: linear-gradient(to right, #808080 10%, rgba(255, 255, 255, 0) 0%);
    background-position: bottom;
    background-size: 6px 1px;
    background-repeat: repeat-x;
        &:hover {
            z-index: 1;
        }
    }
    .arrow {
        content: '';
        position: absolute;
        right: 0;
        right: 1.5rem;
        top: 1.5rem;
        opacity: 1;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 8px solid #000;
        transition: 0.3s ease;
        z-index: 2;

    }

    .acc-head {
        padding: 1.5rem;
        padding-left: calc(2rem - 2ch);
        cursor: pointer;
        transition: 0.2s ease;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: .85rem;
        line-height: 1;
        &:hover {
        	.arrow {
        		border-top-color: rgba(0,0,0,.4);
        	}
        }
    }

    .acc-content {
        display: none;
        overflow: hidden;
        padding: 0 2rem 1rem 2rem;
        p {
        	margin: 0 0 1rem 0;
        }
    }

    .arrow-animate {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 8px solid #000;
        border-top:0;
    }
    .acc-head {
        &:hover {
            .arrow-animate {
                border-bottom-color: rgba(0,0,0,.2);
            }
        }
    }

}
.acc-title {
    margin: 0;
    position: relative;
    z-index: 1;
    &::before {
        content: '-';
        padding-right: 1ch;
    }
}