#breadcrumbs {
  background: var(--main-bg);
  line-height: 1;
  padding-block: 1rem;
  font-size: 0.85rem;
  a {
    color: var(--body-font);
    text-decoration: none;
  }
  .breadcrumb_last {
    opacity: 0.5;
  }
}
