#breadcrumbs {
	background: var(--main-bg);
	line-height: 1;
	padding: 0 0 .5rem 0;
	margin: 1rem 0 2rem 0;
	font-size: .85rem;
	border-bottom: 1px solid var(--border);
	a {
		color: var(--body-font);
		text-decoration: none;
	}
	.breadcrumb_last {
		opacity: .5;
	}
}