@use 'elements/size'as s;
@use 'elements/breakpoints'as b;

.but {
	display: inline-block;
	text-decoration: none;
	color: var(--but-txt);
	background: var(--but-bg);
	padding: 1rem 1.5rem;
	border-radius: 100vmax;
	line-height: 1;
	transition: .5s all;
	&:hover {
		color: var(--but-txt-hover);
		background: var(--but-bg-hover);
	}
}