@use 'elements/size'as s;
@use 'elements/breakpoints'as b;

ul.contact-con {
    margin: 0;
    padding: 0;

    li {
        margin: 0 0 .5rem 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-flow: row;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .contact-label {
        width: 22px;
        text-align: center;
        margin-right: .5rem;
    }

    svg {
        max-height: 22px;
        max-width: 22px;
        fill: var(--icon-color);
    }

    &.meeting {
        .contact-label {
            padding-top: 0;
        }
    }

    &.personer {
        margin: 0;

        li {
            margin: 0;
            padding: 0 .5rem;
        }

        .contact-label {
            margin-right: 1ch;
        }

        .title {
            margin-bottom: s.$gap-s;
        }
    }
}