.screen-reader-response {
	border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.wpcf7-not-valid-tip {
	display: block;
	padding: .5rem 0;
	color: red;
}
span.wpcf7-list-item {
    label {
        display: flex;
        align-items: baseline;
    }
}