@use 'elements/size'as s;
@use 'elements/breakpoints'as b;

ul.contact-con {
    margin: 0;
    padding: 0;
    article & {
        margin-bottom: 2rem
    }

    li {
        margin: 0 0 .5rem 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        flex-flow: row;
        &:last-of-type {
            margin-bottom: 0;
        }
    }

    .contact-label {
        width: 22px;
        text-align: center;
        margin-right: .5rem;
    }

    svg {
        max-height: 22px;
        max-width: 22px;
        transition: .5s all;
        fill: var(--icon-color);
    }
    .contact-social {
        display: flex;
        flex-flow: row;
        gap: 1rem;
        margin: 2rem  0 0 0;
        svg {
            max-height: 35px;
            max-width: 35px;
            &:hover {
                transform: scale(1.5);
            }
        }

        a:hover {
            &.fb {
                svg {
                    fill: #1b74e4;
                }
            }
            &.in {
                svg {
                    fill: #fd0968;
                }
            }
            &.li {
                svg {
                    fill: #0077b5;
                }
            }
        }

    }

    &.meeting {
        .contact-label {
            padding-top: 0;
        }
    }

    &.personer {
        margin: 0;

        li {
            margin: 0;
            padding: 0;
        }

        .contact-label {
            margin-right: 1ch;
        }

        .title {
            margin-bottom: s.$gap-s;
        }
    }
}