.glitch {

font-size: 3rem;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

@keyframes glitch-skew {
  $steps: 10;
  @for $i from 0 to $steps {
    #{percentage($i*(1/$steps))} {
      transform: skew((random(10) - 5) + deg);
    }
  }
}
