@use 'elements/size'as s;
@use 'elements/breakpoints'as b;


body {
    background-color: var(--body-bg);
    color: var(--body-font);
    line-height: var(--body-line-height);
    font-size: var(--body-font-size);

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    font-family: arial, x-locale-body, sans-serif;
    letter-spacing: -.0027777778rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    font-size: s.$font-l;
    margin: 0 0 1rem 0;
    font-weight: 600;

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }

    article & {
        margin: 0 0 .5rem 0;
    }

    span {
        color: var(--title-highlight);
    }
}

h1 {
    font-size: 2rem;
    margin: 0 0 .625rem 0;
}

.top-caption h1 {
    font-size: var(--xxl);
    line-height: 1.2;
    margin: 0;
}

h2 {
    font-size: 1.5rem;
}

.has-x-large-font-size h1,
.has-x-large-font-size h2,
.has-x-large-font-size h3,
.has-x-large-font-size h4,
.has-x-large-font-size h5,
.has-x-large-font-size h6,
.has-large-font-size h1,
.has-large-font-size h2,
.has-large-font-size h3,
.has-large-font-size h4,
.has-large-font-size h5,
.has-large-font-size h6,
.has-medium-font-size h1,
.has-medium-font-size h2,
.has-medium-font-size h3,
.has-medium-font-size h4,
.has-medium-font-size h5,
.has-medium-font-size h6,
.has-small-font-size h1,
.has-small-font-size h2,
.has-small-font-size h3,
.has-small-font-size h4,
.has-small-font-size h5,
.has-small-font-size h6,
{
       font-size: inherit;
    }


.top-caption h2 {
    font-size: var(--xl);
    margin: 0;
}

article {
    line-height: var(--article-line-height);
    font-size: var(--article-font-size);

    h2 {
        margin-top: 3rem;
        margin-bottom: 1.5rem;

        &.loop-title {
            margin-top: 0;
        }
    }
}

.page-template-page-aside-left-right-topimg,
.page-template-page-aside-right-topimg,
.page-template-page-topimg,
.page-template-page-aside-left-topimg,
.page-template-page-no-wrap-topimg {
    article>h2:first-of-type {
        margin-top: 0;
    }
}

.widget-title {
    font-weight: 600;
    font-size: s.$font-n;
    padding-bottom: .25rem;
    margin-bottom: s.$gap-s;
    border-bottom: 1px solid var(--border);
}

.loop-title {
    margin-bottom: s.$gap-s * 1.5;
}



.tit-bor {
    font-size: clamp(2rem, 3vw, 4rem);
    line-height: 1.1;
    max-width: inherit !important;

    &::after {
        content: '';
        height: 3px;
        width: 55px;
        background: var(--title-border);
        display: block;
        margin-top: .6rem;
    }
}

p {
    margin: 0 0 1.75rem 0;
    max-width: 80ch;


    &.read-more {
        margin: auto 0 0 0;
        line-height: 1;
        font-size: .9rem;
        position: relative;
        padding-right: 12px;
        max-width: inherit;

        a {
            text-decoration: none;

            &:hover {

                &:before {
                    opacity: 1;
                }
            }
        }
    }

    &:empty {
        display: none;
    }

    .pre-header-con & {
        margin: 0;
    }
    .page-footer & {
        margin: 0 0 1rem 0;
    }
}

article .bx-wrapper p {
    max-width: none;
}

article {
    li {
        max-width: 80ch;
    }
}

a {
    color: var(--link);
    text-decoration: underline;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;

}

a:focus,
a:hover {
    color: var(--link-hover);
    text-decoration: none;
}

@media (min-width: 800px) {
    a[href^="tel:"] {
        text-decoration: none;
        color: inherit;
    }
}

.has-text-color {
    a {
        color: inherit;
        transition: .5s all;
    }

    .read-more {
        font-weight: bold;

        a {
            &:hover {
                opacity: .8;
            }
        }
    }
}

blockquote {
    border-left: 2px solid;
    padding: s.$gap-s s.$gap-n;
    margin: s.$gap-n 0;
    font-size: 1.2rem;
    p {
        max-width: inherit;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    &.has-x-large-font-size {
       border-left: 8px solid;
    }
    &.has-large-font-size {
       border-left: 6px solid;
    }
    &.has-medium-font-size {
      border-left: 4px solid;
    }
    &.has-small-font-size {
      border-left: 1px solid;
    }

}

cite {
    font-size: .8rem;
}

figure {
    margin: s.$gap-n 0;

    .acc-content & {
        margin-top: 0;
        margin-bottom: 0;
    }
}

hr {
    border-color: var(--border);
}

.small-font {
    font-size: s.$font-xs;
    line-height: s.$line-s;
}

.logo-txt {
    font-size: s.$font-l;
    font-weight: 600;

    a {
        text-decoration: none;
        color: var(--logo-text);
    }
}

b,
strong,
.bold {
    font-weight: 600;
}

.caption {
    text-align: right;
    font-style: italic;
    font-size: s.$font-xs;
    margin-top: s.$gap-xs;
}

.textwidget {
    p {
        &:last-of-type {
            margin: 0;
        }
    }
}

.post-edit-link {
    float: right;
    color: red;
    background: none !important;
    text-decoration: none !important;
    font-size: .8rem !important;

    &:hover {
        text-decoration: underline;
    }
}

article p+ul:not(.info),
article p+ol {
    margin-top: -1rem;
}

article h1+h2 {
    margin-top: -.5rem;
}

.post-date,
.list-category {
    font-size: s.$font-xs;
    margin-bottom: s.$gap-xs;
    border-bottom: 1px dashed var(--border);
    padding-bottom: .25rem
}