@use "elements/size" as s;
@use "elements/breakpoints" as b;

body {
  background: var(--body-bg);
  color: var(--body-color);
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  font-family: var(--font-family);
  letter-spacing: -0.0027777778rem;
}
p {
  text-wrap: pretty;
}

h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  //font-size: s.$font-l;
  font-size: clamp(1.1rem, 2.5vw, 1.4rem);
  margin: 0 0 1rem 0;
  font-weight: 500;
  text-wrap: balance;
  max-width: 60ch;
  a {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  span {
    color: var(--title-highlight);
  }
}

h1 {
  font-size: clamp(1.8rem, 3vw, 3.5rem);
  line-height: 1.1;
  letter-spacing: -0.04rem;
  margin: 0 0 0.625rem 0;
  text-wrap: balance;
  max-width: 50ch;
  font-weight: 200;
}
h2 {
  font-size: clamp(1.4rem, 3vw, 1.7rem);
}

.banner-title {
  font-size: clamp(1.8rem, 3.8vw, 4rem);
  line-height: 1.1;
  letter-spacing: -0.04rem;
  margin: 0;
  max-width: 50ch;
}

.banner-sub {
  font-size: clamp(1.4rem, 3vw, 1.7rem);
  margin: 0;
  font-weight: normal;
  max-width: 50ch;
}

h3,
h4,
h5,
h6 {
  margin: 0 0 0.5rem 0;

  a {
    text-decoration: none;
  }
}
h2 {
  a {
    text-decoration: none;
  }
}

.has-x-large-font-size h1,
.has-x-large-font-size h2,
.has-x-large-font-size h3,
.has-x-large-font-size h4,
.has-x-large-font-size h5,
.has-x-large-font-size h6,
.has-large-font-size h1,
.has-large-font-size h2,
.has-large-font-size h3,
.has-large-font-size h4,
.has-large-font-size h5,
.has-large-font-size h6,
.has-medium-font-size h1,
.has-medium-font-size h2,
.has-medium-font-size h3,
.has-medium-font-size h4,
.has-medium-font-size h5,
.has-medium-font-size h6,
.has-small-font-size h1,
.has-small-font-size h2,
.has-small-font-size h3,
.has-small-font-size h4,
.has-small-font-size h5,
.has-small-font-size h6 {
  font-size: inherit;
}

.page-template-page-aside-left-right-topimg,
.page-template-page-aside-right-topimg,
.page-template-page-topimg,
.page-template-page-aside-left-topimg,
.page-template-page-no-wrap-topimg {
  article > h2:first-of-type {
    margin-top: 0;
  }
}

aside .wp-block-heading,
.page-footer .wp-block-heading {
  font-weight: 600;
  font-size: s.$font-n;
  padding-bottom: 0.25rem;
  margin-bottom: s.$gap-s;
  border-bottom: 1px solid var(--border);
}

.tit-bor {
  font-size: clamp(2rem, 3vw, 4rem);
  line-height: 1.1;
  font-weight: 200;
  max-width: inherit !important;

  &::after {
    content: "";
    height: 3px;
    width: 55px;
    background: var(--title-border);
    display: block;
    margin-top: 0.6rem;
  }
}

.page-content p {
  margin: 0 0 2rem 0;
  max-width: 70ch;

  &.read-more {
    margin: auto 0 0 0;
    line-height: 1;
    font-size: 0.9rem;
    position: relative;
    padding-right: 12px;
    max-width: inherit;

    a {
      text-decoration: none;

      &:hover {
        &:before {
          opacity: 1;
        }
      }
    }
  }

  &:empty {
    display: none;
  }

  .pre-header-con & {
    margin: 0;
  }
}

.woo-decs {
  p {
    margin: 0 0 2rem 0;
    max-width: 70ch;
    text-wrap: balance;
  }
}

.bred {
  max-width: inherit;
}

article .bx-wrapper p {
  max-width: none;
}

main {
  ul,
  ol {
    li {
      margin-bottom: 0.5rem;
      max-width: 70ch;
    }
  }
}

a {
  color: var(--link);
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  .page-footer & {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

a:focus,
a:hover {
  color: var(--link-hover);
  text-decoration: none;
  .page-footer & {
    color: inherit;
  }
}

@media (min-width: 800px) {
  a[href^="tel:"] {
    text-decoration: none;
    color: inherit;
  }
}

.has-text-color {
  a {
    color: inherit;
    transition: 0.5s all;
  }

  .read-more {
    font-weight: bold;

    a {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}

blockquote {
  border-left: 2px solid;
  padding: s.$gap-s s.$gap-n;
  margin: s.$gap-n 0;
  font-size: 1.2rem;

  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &.has-x-large-font-size {
    border-left: 8px solid;
  }

  &.has-large-font-size {
    border-left: 6px solid;
  }

  &.has-medium-font-size {
    border-left: 4px solid;
  }

  &.has-small-font-size {
    border-left: 1px solid;
  }
}

cite {
  font-size: 0.8rem;
}

figure {
  margin: s.$gap-n 0;

  .acc-content & {
    margin-top: 0;
    margin-bottom: 0;
  }
}

hr {
  border-color: var(--border);
}

.small-font {
  font-size: s.$font-xs;
  line-height: s.$line-s;
}

.logo-txt {
  font-size: s.$font-l;
  font-weight: 600;

  a {
    text-decoration: none;
    color: var(--logo-text);
  }
}

b,
strong,
.bold {
  font-weight: 600;
}

.caption {
  text-align: right;
  font-style: italic;
  font-size: var(--font-small);
  margin-top: 0.5rem;
  line-height: 1.2;
  .lr-top-main & {
    padding: 1rem;
    margin: 0;
    text-align: left;
  }
}

.textwidget {
  p {
    &:last-of-type {
      margin: 0;
    }
  }
}

.post-edit-link {
  float: right;
  color: rgb(255, 0, 0);
  background: none !important;
  text-decoration: none !important;
  font-size: 0.8rem !important;

  &:hover {
    text-decoration: underline;
  }
}

article h1 + h2 {
  margin-top: -0.5rem;
}

.post-date,
.list-category {
  font-size: s.$font-xs;
  margin-bottom: s.$gap-xs;
  border-bottom: 1px dashed var(--border);
  padding-bottom: 0.25rem;
}

.wp-block-column {
  ul,
  ol {
    padding-left: 1.1rem;
  }
}

figcaption {
  font-size: 75%;
}

.page-footer {
  .wp-block-heading {
    font-weight: normal;
    font-size: 1rem;
    padding-block: 0 0.5rem;
    margin-block: 0 1rem;
    border-bottom: 1px solid;
    border-color: color-mix(in srgb, currentcolor 35%, transparent);
    text-transform: uppercase;
    max-width: none;
  }
}
.page-footer {
  p {
    margin: 0 0 1rem 0;
  }
}

.tlf::before {
  content: "\260E";
  margin-right: 0.5ch;
}
.blackstar::before {
  content: "\2605";
  margin-right: 0.5ch;
}
.whitestar::before {
  content: "\2606";
  margin-right: 0.5ch;
}
.email::before {
  content: "\0040";
  margin-right: 0.5ch;
}
