@use 'elements/breakpoints'as b;
@use 'elements/size'as s;

.page-footer {

    ul,
    ol {
        margin: 0;
        padding: 0;

        li {
            margin: 0;
            padding: 0;
            list-style-type: none;
        }
    }

    .menu {
        flex-flow: column;
        line-height: 1.2;
        border-top: 1px solid var(--border);

        li {
            border-bottom: 1px solid var(--border);
            padding: s.$gap-xs 0;
        }

        a {
            padding: 0;
            text-decoration: none;
            transition: .5s opacity;

            &:hover {
                opacity: .7;
            }
        }
    }

    div {
        p {
            &:last-of-type {
                margin: 0;
            }
        }
    }
}

.post-footer {
    .menu {
        flex-flow: row;
        a {
            padding: 0;
            text-decoration: none;
            transition: .5s opacity;

            &:hover {
                opacity: .7;
            }
        }
    }
}
.post-footer {
    margin: s.$gap-s 0;
    padding: s.$gap-s 0;
    > div {
        margin-bottom: s.$gap-s;
    }
}
@media (min-width: b.$phone) {

        .post-footer {
            display: flex;
            justify-content: space-between;
            > div {
                margin-bottom: 0;
            }
        }

}