@use "elements/breakpoints" as b;
@use "elements/size" as s;

.wrap,
.wp-block-columns,
.wrap-pad {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: var(--gap);
  &.pad-4 {
    padding: s.$gap-n;
  }
}
.wrap-no-pad {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-left: var(--gap);
  padding-right: var(--gap);
}

.wrap-pad-top-small {
  margin: 0 auto;
  max-width: var(--page-width);
  padding-left: s.$gap-n;
  padding-right: s.$gap-n;
  padding-top: s.$gap-s;
  padding-bottom: s.$gap-s;
}
.textwidget .wrap {
  padding: 3rem s.$gap-n;
}
.wp-block-columns {
  padding: 0;
  .page-template-page-no-wrap &,
  .page-template-page-no-wrap-topimg & {
    padding: var(--gap);
  }
}

.padding {
  padding: s.$gap-n !important;
}
.padding-no-top {
  padding-top: 0 !important;
}
.padding-no-bottom {
  padding-bottom: 0 !important;
}
@media (min-width: b.$phone) {
  .wrap {
    &.pad-4 {
      padding: s.$gap-n;
    }
  }
}

.no-wrap {
  padding: s.$gap-n 0;
}

section {
  > .wrap {
    padding: s.$gap-n;
  }
}
.page-header {
  line-height: 1;
}

main {
  background: var(--main-bg);
  .wrap {
    padding: var(--gap);
  }
  .wrap-pad {
    padding: var(--gap);
  }
}

aside {
  font-size: s.$font-s;
  line-height: s.$line-s;
}

.page-footer {
  font-size: s.$font-s;
  line-height: s.$line-s;
  padding-block: s.$gap-n;
  color: var(--footer-color);
}

.footer-col {
  > *:last-of-type:not(.widget-title-footer) {
    margin-bottom: 0;
  }
}
@media (width > 385px) {
  .footer-widget {
    grid-template-columns: repeat(auto-fill, minmax(315px, 1fr));
  }
}
.post-footer {
  font-size: s.$font-xs;
  line-height: s.$line-xs;
  padding-bottom: s.$gap-n;

  p {
    margin-bottom: 0.5rem;
  }
  .menu {
    display: flex;
    gap: 1rem;
  }
}

.page-header {
  background: var(--header-bg);
  color: var(--header-color);
  padding: 1rem 0;
}

@media (min-width: b.$menu-break) {
  .sticky {
    position: sticky;
    top: 0;
    z-index: 99;

    .admin-bar & {
      top: 32px;
    }
  }
  .scroll-pad {
    scroll-padding: var(--scroll-pad);
  }
}

@media (min-width: b.$phone) {
  .article-aside {
    display: grid;
    grid-template-columns: 1fr var(--aside-right);
    grid-gap: var(--gap);
  }

  .aside-article {
    display: grid;
    grid-template-columns: var(--aside-left) 1fr;
    grid-gap: var(--gap);

    aside {
      order: 1;
    }

    article {
      order: 2;
    }
  }
}

.aside-article-aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--gap);

  .right-aside {
    order: 3;
  }

  .left-aside {
    order: 2;
  }

  article {
    order: 1;
  }
}

@media (min-width: b.$phone) {
  .aside-article-aside {
    display: grid;
    grid-template-columns: 1fr var(--aside-right);

    .left-aside {
      order: 2;
      //grid-column: 1 / -1;
    }

    .right-aside {
      order: 3;
    }

    article {
      order: 1;
    }
  }
}

@media (min-width: 1000px) {
  .aside-article {
    grid-template-columns: var(--aside-left) 1fr;
  }
  .article-aside {
    grid-template-columns: 1fr var(--aside-right);
  }
  .aside-article-aside {
    display: grid;
    grid-template-columns: var(--aside-left) 1fr var(--aside-right);

    .left-aside {
      order: 1;
      grid-column: unset;
    }

    .right-aside {
      order: 3;
    }

    article {
      order: 2;
    }
  }
}

.woo-wrap {
  display: grid;
}
.woo-article {
  order: 2;
}
.left-woo-aside {
  order: 1;
}
.lr-top-main {
  background: var(--body-bg);
}
.lr-top {
  gap: var(--gap);
}
.lr-top__sec > * {
  margin-bottom: 0;
}
.lr-top__sec {
  display: flex;
  flex-flow: column;
}
@media (min-width: 800px) {
  .lr-top {
    grid-template-columns: 1fr 1fr;
  }
  .lr-top__first {
    display: flex;
    flex-flow: column;
    align-self: center;
  }
}
