@use 'elements/breakpoints'as b;
@use 'elements/size'as s;

.wrap,
.wp-block-columns,
.wrap-pad {
    margin: 0 auto;
    max-width: var(--page-width);
    padding: s.$gap-n s.$gap-n 0 s.$gap-n;
    &.pad-4 {
        padding: s.$gap-n;
    }
}
.wrap-no-pad {
     margin: 0 auto;
    max-width: var(--page-width);
    padding-left: s.$gap-n;
    padding-right: s.$gap-n;
}
.wrap-pad-top-small {
     margin: 0 auto;
    max-width: var(--page-width);
    padding-left: s.$gap-n;
    padding-right: s.$gap-n;
    padding-top: s.$gap-s;
}
.textwidget .wrap {
    padding:  3rem s.$gap-n;
}
.wp-block-columns {
    padding: 0;
    margin-bottom: 2rem;
    .page-template-page-no-wrap &,
    .page-template-page-no-wrap-topimg &{
        padding: s.$gap-n;
    }
}
.has-background {
    padding: s.$gap-n;
}
.has-background:not(div) {
    margin: s.$gap-n 0;
}
.wp-block-column {
    .has-background:not(div):first-of-type {
        margin-top: 0;
    }
}

.wp-block-group.has-background {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: b.$menu-break) {
    .wp-block-group.has-background {
    padding: s.$gap-n;
    }
}

.padding {
    padding: s.$gap-n !important;
}
.padding-no-top {
    padding-top: 0 !important
}
.padding-no-bottom {
    padding-bottom: 0 !important
}
@media (min-width: b.$phone) {
    .wrap {
        &.pad-4 {
        padding: s.$gap-n * 2 s.$gap-n;
    }
    }
}

.no-wrap {
    padding: s.$gap-n 0;
}

section {
    > .wrap {
        padding: s.$gap-n;
    }
}
.page-header {
    line-height: 1;
}

main {
    overflow: hidden;
    background: var(--main-bg);
    .wrap {
        padding: 0 s.$gap-n s.$gap-n * 1.5 ;
    }
    .wrap-pad {
        padding: s.$gap-n;
    }
}

article {
    //overflow: hidden;
}

aside {
    font-size: s.$font-s;
    line-height: s.$line-s;
}
.page-content {
    padding-top: s.$gap-s;
}

.page-footer {
    border-top: 1px solid var(--border);
    font-size: s.$font-s;
    line-height: s.$line-s;
    padding-bottom: s.$gap-n;
    background: var(--page-footer-bg);
    color: var(--page-footer-font);
}
 
.footer-col {
    >*:last-of-type:not(.widget-title-footer) {
        margin-bottom: 0;
    }
}

.post-footer {
    border-top: 1px solid var(--border);
    font-size: s.$font-xs;
    line-height: s.$line-xs;
    padding-bottom: s.$gap-n;

    p {
        margin-bottom: .5rem;
    }
    .menu {
        display: flex;
        gap: 1rem;
    }
}

.page-header {
    background: var(--header-phone);
    padding: 1rem 0 0 0;
}

@media (min-width: b.$phone) {
    .page-header {
        background: var(--header-tablet);
    }
}

@media (min-width: b.$menu-break) {
    .page-header {
        background: var(--header-desktop);
    }

    .sticky {
        position: sticky;
        top: 0;
        z-index: 99;

        .admin-bar & {
            top: 32px;
        }

    }

}

@media (min-width: b.$phone) {
    .article-aside {
        display: grid;
        grid-template-columns: 1fr var(--aside-right);
        grid-gap: var(--gap);
    }

    .aside-article {
        display: grid;
        grid-template-columns: var(--aside-left) 1fr;
        grid-gap: var(--gap);

        aside {
            order: 1;
        }

        article {
            order: 2;
        }
    }
}


.aside-article-aside {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: var(--gap);

    .right-aside {
        order: 3;
    }

    .left-aside {
        order: 2;
    }

    article {
        order: 1;
    }
}

@media(min-width: b.$phone) {
    .aside-article-aside {
        display: grid;
        grid-template-columns: 1fr var(--aside-right);

        .left-aside {
            order: 3;
            grid-column: 1 / -1;
        }

        .right-aside {
            order: 2;
        }

        article {
            order: 1;
        }
    }
}

@media(min-width: 1000px) {
    .aside-article {
        grid-template-columns: var(--aside-left) 1fr;
    }
    .article-aside {
        grid-template-columns: 1fr var(--aside-right);
    }
    .aside-article-aside {
        display: grid;
        grid-template-columns: var(--aside-left) 1fr var(--aside-right);

        .left-aside {
            order: 1;
            grid-column: unset;
        }

        .right-aside {
            order: 3;
        }

        article {
            order: 2;
        }
    }
}