@use "elements/breakpoints" as b;
@use "elements/size" as s;

@media (min-width: b.$menu-break) {
  .page-header {
    > div {
      position: relative;
    }
  }
  .site-menu {
    // position: relative;
    margin-top: auto;
    width: 100%;
  }
  .first-lvl {
    display: flex;
    gap: 2rem;
    justify-content: center;
    > li {
      a {
      }
    }
  }
  .sub-menu {
    display: none;
    position: absolute;
    left: var(--gap);
    right: var(--gap);
    background-color: #f8f8f8;
    border-bottom: 1px solid var(--border);
    padding: 2rem;
    border-top: 1rem solid var(--header-bg);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    z-index: 100;
    // column-gap: 1rem;
    // columns: 200px;
    li {
      a {
        display: inline;
      }
    }
    .sub-menu {
      border: none;
      position: relative;
      grid-template-columns: 1fr;
      display: grid;
      padding: 0;
      top: 1rem;
      left: 0;
      right: 0;
    }
  }
  .first-lvl {
    > li {
      &:hover {
        > .sub-menu {
          display: grid;
        }
      }
    }
  }
}
