@use "elements/breakpoints" as b;
@use "elements/size" as s;

@media (min-width: b.$menu-break) {
  .page-header {
    > div {
      position: relative;
    }
  }
  .site-menu {
    // position: relative;
    margin-top: auto;
    width: 100%;
    // * {
    //   outline: 1px solid red;
    // }
  }
  .first-lvl {
    display: flex;
    gap: 2rem;
    justify-content: center;
    > li {
      a {
      }
    }
  }
  .sub-menu {
    display: none;
    position: absolute;
    left: var(--gap);
    right: var(--gap);
    background-color: rgb(24, 36, 54);
    padding: 2rem;
    border-top: 1rem solid var(--header-bg);
    grid-template-columns: 1fr 1fr 1fr 1fr;
    // gap: 0.5rem;
    z-index: 100;
    font-size: 0.875rem;
    line-height: 1.4;
    li {
      a {
        padding: 5px;
        color: #fff;
        &:hover {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }
    .sub-menu {
      border: none;
      position: relative;
      grid-template-columns: 1fr;
      display: grid;
      padding: 0;

      left: 0;
      right: 0;
      a {
      }
    }
  }
  .first-lvl {
    > li {
      &:hover {
        > .sub-menu {
          display: grid;
        }
      }
    }
  }
}
.menu-item-title {
  font-weight: 500;
}
.menu-item-description {
  display: block;
  font-size: 0.85rem;
  font-weight: 100;
}
// .aaben .sub-menu {
//   display: grid;
// }
