@use 'elements/breakpoints'as b;
@use 'elements/size'as s;

@media (min-width: b.$menu-break) {
    .site-menu {
        display: flex;
        font-size: s.$font-s;

        //flex: 1;
        &.right-align {
            margin-left: auto;
            flex: inherit;
             ul:not(.sub-menu) {
                > li {
                    margin-left: 1rem;
                }
            }
        }

        ul {
            display: flex;
            background: var(--header-desktop);
            a {
                line-height: 2rem;
            }
            li {
                align-self: center;
                margin: 0;
            }

            ul {
                display: none;
                position: absolute;
                z-index: 100;
                left: 0;
                min-width: 250px;
                line-height: 1.6;
                background: var(--menu-desktop-sub-bg);
                box-shadow: 0 0 20px rgb(0 0 0 / 5%);

                a {
                    line-height: inherit;
                }

                li {
                    padding: 0 var(--menu-desktop-sub-pad-side);
                    border-bottom: 1px solid var(--menu-desktop-sub-border);
                    transition: .3s background;

                    &:last-of-type {
                        border: none;
                    }

                    &:hover {
                        background-color: var(--menu-desktop-sub-hover-bg);
                    }

                    a:after {
                        display: none;
                    }
                }

                ul {
                    left: 100%;
                    top: 0;
                }
            }

            li {
                position: relative;
                &:last-of-type {
                    a:after {
                        display: none;
                    }
                }

                &:hover {
                    >ul {
                        display: block;
                    }
                }


            }
        }

        

        >ul {
            >li {

                &:last-of-type {

                    ul {
                        left: auto;
                        right: 0;

                        ul {
                            left: auto;
                            right: 100%;
                        }
                    }
                }
            }
        }
    }

    .menu-close {
        display: none;
    }

    .has-sub {
        background-image: url(img/has-sub.svg);
        background-repeat: no-repeat;
        background-size: 7px;
        background-position: 10px center;
    }

    // Right-align menu
    .menu.right-align {
        >ul>li:last-of-type ul {
            left: auto;
            right: 0;

            ul {
                left: auto;
                right: 100%;
            }
        }
    }

    .scroll-menu {
        box-shadow: 0 5px 5px -5px #333;
    }
}