@use 'elements/breakpoints'as b;
@use 'elements/size'as s;

@media (min-width: b.$menu-break) {
	.widget_nav_menu {
		line-height: 32px;
		a {
            color: var(--menu-desktop-font);
            padding: var(--menu-desktop-pad);
            padding: 5px 38px 5px 0;
            border-bottom: 1px solid var(--border);
           
            &:hover {
                color:  var(--menu-desktop-hover-font);
            }

            &[aria-current=page] {
                color: var(--menu-desktop-current-font);

            }
           }
		ul {
			ul {
				display: none;
				padding: 0;
				 a {
				 	padding-left: 1rem;
				 }
				 ul {
				 	a {
				 		padding-left: 2rem;
				 	}
				 }
			}
			.current-menu-ancestor,
			.current_page_item > {
				ul {
					display: block;
				}
			}
		}
		li {
			position: relative;
			margin: 0;
		}
		.menu-trigger {
			position: absolute;
			top: 5px;
			right: 0;
			cursor: pointer;

			&::before {
				content: '+';
				width: 32px;
				display: inline-block;
				background: rgba(0,0,0,.06);
				text-align: center;
				
			}
			&.active-trigger {
				&::before {
					content: '-';
				}
			}
			
		}
		.current-menu-ancestor {
			.menu-trigger {
				&::before {
					content: '-';
				}
				&.active-trigger {
				&::before {
					content: '+';
				}
			}
			}
		}

	}
}