@use 'elements/breakpoints'as b;
@use 'elements/size'as s;

.menu-icon {
    margin-top: auto;
    margin-bottom: auto;
    min-width: 40px;
    cursor: pointer;

    .a-center & {
        margin: 0 0 0 auto;
    }

    svg {
        fill: var(--menu-icon);
        transition: .5s all;
    }

    margin-left: auto;
}

.menu-close {
    display: none;
    cursor: pointer;
    fill: var(--menu-icon-close);

    .open-mobile-menu & {
        display: block;
    }
}
@media (max-width: 700px) {
    .woo-menu .menu-icon {
        margin-top: .6rem;
    }
}

@media(min-width: b.$menu-break) {
    .menu-icon {
        display: none;
    }
}