@use "elements/breakpoints" as b;
@use "elements/size" as s;

.menu-icon {
  align-self: center;
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;

  .a-center & {
    margin: 0 0 0 auto;
  }

  svg {
    fill: var(--menu-icon);
    transition: 0.5s all;
  }

  margin-left: auto;
}

.menu-close {
  width: 38px;
  height: 38px;
  background: rgb(255 255 255 / 40%);
  text-align: center;
  line-height: 38px;
  margin-bottom: var(--gap);
  border-radius: 50vw;

  .open-mobile-menu & {
    display: block;
  }
}

@media (min-width: b.$menu-break) {
  .menu-icon {
    display: none;
  }
}
