.child-menu {
  line-height: 1.2;
  a {
    border-bottom: 1px solid var(--border);
    color: var(--menu-desktop-font);
    display: block;
    padding: 0.5rem 0;
  }
  .children {
    .children {
      margin-left: 0.5rem;
    }
  }
  .current_page_item > a {
    border-bottom-color: var(--menu-desktop-current-font);
  }
}

.child-menu-top > .page_item_has_children > a {
  font-weight: bold;
  text-transform: uppercase;
  border-bottom-width: 2px;
}
