.person-item {
  display: flex;
  flex-flow: column;
  border-radius: 3px;
  overflow: hidden;
}

.person-body {
  padding: 1.5rem;
  line-height: 1.3;
  display: flex;
  flex-flow: column;
}

.person-img-con {
  display: flex;
  flex-flow: row wrap;
}

.person-img,
.person-info {
  flex: 1 100%;
}

.personer-shortcode {
  article & {
    margin-block: var(--gap);
  }

  p.read-more {
    padding-top: 1rem !important;
  }
}

.person-titel {
  margin: 0 !important;
  font-size: clamp(1.5rem, 4vw, 2rem);
  font-weight: 300;
  line-height: 1.1;
  a {
    text-decoration: none;
    color: var(--body-color);
  }
}

.shortcode-person-img {
  overflow: hidden;

  img {
    width: 100%;
  }
}

.person-excerpt {
  padding: 1rem 0;
  border-top: 1px solid;
  margin-top: 1rem;

  p {
    margin: 0;
  }
}

@media (min-width: 700px) {
  .personer-shortcode {
    &.g1 {
      margin: 0;
    }
  }
}

ul.kontakt-con.personer {
  margin: 0.5rem 0;
}
