.pre-header-con {
	background: var(--pre-header-bg);
}
.pre-header {
	flex-direction: row-reverse;
	align-items: baseline;
	gap: 1rem;
	line-height: 1;
	.menu {
		display: flex;
		gap: 1rem;
		a {
			text-decoration: none;
			color: var(--menu-pre-header-font);
			&:hover {
				color: var(--menu-pre-header-hover);
			}
			&[aria-current=page] {
				color: var(--menu-pre-header-active);
			}
		}
	}
}