.pre-header-con {
	background: var(--pre-header-bg);
	color: var(--pre-header-color);
}
.pre-header {
	flex-direction: row-reverse;
	align-items: baseline;
	gap: 1rem;
	line-height: 1;
	.menu {
		display: flex;
		gap: 1rem;
		a {
			text-decoration: none;
			
			&[aria-current=page] {
				border-bottom: 1px solid;
			}
		}
	}
	a {
		color: inherit;
		&:hover {
			color: inherit;
		}
	}
}