:root {
  interpolate-size: allow-keywords;
  --page-width: 1440px;
  --wp--style--global--content-size: 1440px;
  --scroll-pad: 130px;
  --body-bg: #f6f6f6;
  --body-color: rgb(59, 67, 67);
  --font-family: system-ui, sans-serif;
  --body-font-size: 1rem;
  --body-line-height: 1.6;
  --header-bg: #fff;
  --header-color: #222;
  --main-bg: #fff;
  --footer-color: #333;
  --link: #0073e5;
  --link-hover: #0073e5;
  --title-highlight: #e56101;
  --article-font-size: 1.06rem;
  --article-line-height: 1.4;
  --border: #eee;
  --title-border: #e56101;
  --blockquote: rgba(0, 0, 0, 0.1);
  --sticky-scroll-bg: #f7f7f7;
  --menu-desktop-pad: 0;
  --menu-desktop-color: #222;
  --menu-desktop-hover-color: #333;
  --menu-desktop-current-color: #0073e5;
  --menu-desktop-sub-pad: 0.25rem;
  --menu-desktop-sub-color: #444;
  --menu-desktop-sub-hover-color: #333;
  --menu-desktop-sub-bg: #fff;
  --menu-desktop-sub-pad-side: 1rem;
  --menu-desktop-sub-hover-bg: #f2f2f2;
  --menu-desktop-sub-border: #eee;
  --menu-desktop-sub-current-bg: #0073e5;
  --menu-desktop-sub-current-color: #fff;
  --menu-mobile-bg: #262626;
  --menu-mobile-color: #ffffff;
  --menu-mobile-sub-bg: rgba(255, 255, 255, 0.05);
  --menu-mobile-border: #717171;
  --menu-mobile-trigger-bg: transparent;
  --menu-mobile-trigger-active-bg: #cd930052;
  --menu-mobile-trigger-color: #fff;
  --menu-mobile-trigger-active-color: #fff;
  --menu-icon: #111;
  --menu-icon-close: #fff;
  --parallax-font: #222;
  --mobile-search-border: #b2b2b2;
  --mobile-search-text-bg: #444;
  --mobile-search-text-font: #fff;
  --mobile-search-text-focus-bg: #666;
  --mobile-search-submit-bg: #999;
  --mobile-search-submit-font: #222;
  --fokus-bg: linear-gradient(to left, rgb(237, 33, 58), rgb(147, 41, 30));
  --fokus-color: #fff;
  --a-fokus-color: chartreuse;
  --pre-header-bg: #fff;
  --pre-header-color: #222;
  --but-txt: #fff;
  --but-bg: #0073e5;
  --but-txt-hover: #f2f2f2;
  --but-bg-hover: #0073e5d1;

  --eve-info-font: #fff;
  --eve-info-bg: #0073e5;
  --eve-svg: #fff;

  --icon-color: rgb(59, 67, 67);

  --top-caption-bg: rgba(0, 0, 0, 0.8);
  --top-caption-color: #fff;
  --link-box-bg: #2a3443;
  --link-box-color: #fff;
  --link-box-bg-hover: #45566e;
  --link-box-font-hover: #fff;

  --submit-bg: #0073e5;
  --submit-color: #fff;
  --search-icon: #0073e5;
  --pil-op: #000;

  --acc-head-bg: #f9f9f9;

  --aside-left: 24%;
  --aside-right: 24%;
  --gap: clamp(1rem, 2vw, 3rem);

  --font-small: 0.9rem;

  --woo-pay-border: rgba(0, 125, 187, 0.85);
  --woo-pay-bg: rgba(0, 125, 187, 0.03);
}
