table {
	border-collapse: collapse !important;
}
thead {
	text-align: left;
}
td, th,
.wp-block-table td, .wp-block-table th {
	padding: 10px;
	border: 1px solid var(--border);
}
tr:nth-child(even) {
	background: aliceblue;
}