.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__week {
	border-left: 1px solid;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__body {
	border-top: 1px solid;
}
.tribe-events .tribe-events-calendar-month__multiday-event-bar {
	background: red;
}