.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__week {
    border-left: 1px solid;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__body {
    border-top: 1px solid;
}

.tribe-events .tribe-events-calendar-month__multiday-event-bar {
    background: var(--border);
}

abbr,
abbr[title],
acronym {
    cursor: inherit;
    border: none;
    text-decoration: none;
}

.tribe-events-event-meta dt {
    font-size: .8rem;
    line-height: 1;
}

.tooltipster-sidetip .tooltipster-box {
	padding: 1rem;
    background: #fff;
    font-size: .8rem;

    a {
        color: inherit;
    }
}

.tooltipster-sidetip .tooltipster-content {
    color: #222;
}
.tribe-events {
	h3 {
		font-size: .9rem;
		font-weight: normal;
	}
	&.tribe-events-view--list {
		h3 {
			font-size: 1.4rem;
			font-weight: bold;
		}
	}

}
.tribe-events-calendar-list__event-row:nth-child(odd) {
	background: #f2f2f2;
	padding: 2rem 0;
}
.tribe-events-c-view-selector__content {
	background: #f2f2f2;
}

.tribe-common--breakpoint-medium.tribe-events .tribe-events-calendar-month__day {
	min-height: 80px;
}

.tribe-events .tribe-events-c-top-bar__datepicker-container .dropdown-menu {
	width: auto;
	min-width: auto;
}
.tribe-common button {
    padding: 0.5rem 1rem;
}
.tribe-common--breakpoint-medium.tribe-events .tribe-events-c-top-bar {
	.tribe-events-c-top-bar__nav.tribe-common-a11y-hidden {
		display: none !important;
	}
	a.tribe-events-c-top-bar__today-button {
		display: none !important;
	}
}
.tribe-common .tribe-common-l-container {
	max-width: var(--page-width);
	padding: 0 !important;
}
:root {
	--title-highlight: #222;
}