@use "elements/breakpoints" as b;
@use "elements/size" as s;

:root {
  --woo-color-1: #f6f5f2;
  --woo-color-2: #cdd0c9;
  --woo-color-3: #2f4858;
  --woo-color-4: #4d6a70;
  --woo-color-5: #c58d02;
  --woo-color-6: #ca9a21;
  --woo-red: darkred;
  --woo-blue: cadetblue;
  --woo-small-font: 85%;
  --woo-but-height: 1;
}

.woo-menu {
  grid-template-columns: 1fr 40px 40px;
}

.logo-search-menu {}

@media (min-width: b.$menu-break) {
  .woo-menu {
    grid-template-columns: 1fr 50px;
  }
}

ul.products,
ul.wc-block-grid__products {
  margin: 0;
  padding: 0;
  display: grid;
  gap: var(--gap);

  li {
    margin: 0;
    padding: 0.5rem;
    background: rgba(0, 0, 0, 0.025);
    list-style-type: none;
    position: relative;
    display: flex;
    flex-flow: column;
    border-radius: 0.5rem;
    border: 1px solid rgba(0, 0, 0, 0.04);
  }

  img {
    margin-bottom: .5rem;
  }


  .wp-block-columns & {
    margin: 2rem 0;
  }
}

span.price {
  font-size: .85rem;
}

.woocommerce-product-details__short-description {
  p {
    max-width: 40ch;
  }
}

// Grid

@media (min-width: 370px) {

  .columns-3,
  .columns-4,
  .columns-5,
  .wc-block-grid.has-3-columns .wc-block-grid__products,
  .wc-block-grid.has-4-columns .wc-block-grid__products,
  .wc-block-grid.has-5-columns .wc-block-grid__products {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {

  .columns-3,
  .wc-block-grid.has-3-columns .wc-block-grid__products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 800px) {

  .columns-4,
  .wc-block-grid.has-4-columns .wc-block-grid__products {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .columns-5,
  .wc-block-grid.has-5-columns .wc-block-grid__products {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (min-width: 1000px) {

  .columns-5,
  .wc-block-grid.has-5-columns .wc-block-grid__products {
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }
}

//

.products,
.wc-block-grid__products {
  a {
    color: inherit;
    text-decoration: none;
    display: flex;

    &.woocommerce-loop-product__link {
      flex-flow: column;
      height: 100%;
      margin-bottom: 1rem;
    }

    &.wc-forward {
      display: inline-block;
      margin: 1rem 0 0 0;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 75%;

      &:before {
        content: "\2192";
        margin-right: 1ch;
      }
    }
  }
}

.onsale {
  position: absolute;
  background: rgb(237, 216, 0, 0.9);

  color: #000;
  border-radius: 0.5rem;
  padding: 4px 10px;
  line-height: 1.2;
  font-size: 0.8rem;
  font-weight: 300;
  right: 1rem;
  top: 1rem;
  text-transform: uppercase;
}

a:hover {
  .onsale {
    background: var(--woo-color-5);
    color: #fff;
  }
}

.woocommerce-variation-add-to-cart {
  container-type: inline-size;
  container-name: addtocart;
}

a.button,
a.wp-element-button,
button.button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
  text-decoration: none;
  //line-height: var(--woo-but-height);
  border-radius: 50vw;
  width: 100%;
  max-width: 415px;
  margin-top: auto;
  background: var(--woo-color-5);
  align-items: center;
  text-align: center;
  color: #000;
  padding-block: 0.4rem;
  transition: box-shadow 0.5s;

  &:hover {
    background: var(--woo-color-6);
    color: #fff;
  }

  .summary & {
    margin-top: 0;
  }

  &.add_to_cart_button {
    background: var(--woo-blue);
    color: #000;

    font-weight: 500;

    &:hover {
      box-shadow: inset 0 0px 50px #00000057;
      color: #fff;
    }
  }

  &.single_add_to_cart_button,
  &[name="update_cart"],
  &[name="apply_coupon"],
  &[name="woocommerce_checkout_place_order"] {
    background: var(--woo-color-3);
    color: #fff;
    cursor: pointer;
  }
}

.single-post {
  a.wp-element-button {
    max-width: none;
    margin-block: 1rem;
  }
}

@media (max-width: 500px) {
  button[type="submit"] {
    width: 100%;
  }
}

button[name="update_cart"] {
  margin-top: 1rem;
  max-width: 200px;
}

.products .price del {
  color: #717171;
}

.woocommerce-pagination {
  margin-top: 3rem;

  ul {
    display: flex;

    align-items: center;
    justify-content: center;
    padding: 0;

    .current {
      width: 45px;
      height: 45px;

      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid;
      border-radius: 100vw;
    }
  }
}

// HACK - gap ikke support
.woocommerce-pagination {
  li {
    margin: 0 0.5rem;
  }
}

.left-woo-aside {
  display: flex;
  flex-flow: column;

  .wc-blocks-filter-wrapper,
  .wp-block-woocommerce-active-filters:not(:empty),
  .wp-block-woocommerce-product-categories:not(:empty),
  .wp-block-woocommerce-attribute-filter:not(:empty),
  .wp-block-woocommerce-stock-filter:not(:empty) {
    border-bottom: 1px solid var(--border);
    padding-bottom: 1rem;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 2rem 0;
  }

  .wc-block-product-categories {
    margin-bottom: 0;
  }
}

.woo-aside-con {
  display: none;
  flex-flow: column;
  gap: 1rem;

  &.active {
    display: flex;
  }
}

#woo-filter-toggle {
  background: none;
  height: 2.3rem;
  border-radius: 50vw;
  border: 1px solid var(--border);
  cursor: pointer;
  margin-bottom: 1rem;
}

@media (min-width: 700px) {
  .left-woo-aside {
    border-right: 1px solid var(--border);
  }

  #woo-filter-toggle {
    display: none;
  }

  .woo-aside-con {
    display: flex;
  }
}

.text-bottom {
  margin-top: 2rem;
}

// Widget
.wc-block-components-price-slider__range-input-progress {
  height: 2px;
}

.wc-block-components-price-slider__range-input-wrapper {
  height: 2px;
  margin: 0 0 2rem 0;
}

.wc-block-components-price-slider__range-input::-webkit-slider-thumb {
  border-width: 1px;
  width: 20px;
  height: 20px;
  margin: -10px 0 0 0;
}

.wc-block-components-checkbox .wc-block-components-checkbox__input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid;
  border-radius: 10px;
  width: 20px;
  height: 20px;
  box-shadow: none;
  outline: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-right: 10px;
}

.wp-block-woocommerce-product-categories ul {
  padding-left: 0;
  margin-bottom: 0;

  ul {
    margin-left: 0.5rem;

    li {
      &::before {
        content: "\27BE";
      }
    }
  }

  li {
    list-style-type: none;
    margin: 0.5rem 0;
  }

  a {
    text-decoration: none;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}

.wc-block-product-categories-list-item-count,
.wc-filter-element-label-list-count {
  display: inline-flex;
  margin-left: 0.5rem;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 0.6rem;
  background: var(--border);

  &::after,
  &::before {
    display: none;
  }
}

// single
.woo-img-sum {
  background: var(--woo-color-1);
  padding: 1rem;
  border-radius: 0.5rem;
}

.summary.entry-summary {
  padding-top: 1rem;
  display: flex;
  flex-flow: column;
  //gap: 1rem; IKKE support
  align-self: center;
  position: relative;
}

// HACK - gap i flex ikke supported
.summary.entry-summary {
  >* {
    margin-bottom: 1rem;
  }

  .woocommerce-notices-wrapper,
  form {
    margin-bottom: 0;
  }
}

// -------

@media (min-width: 800px) {
  .woo-img-sum {
    grid-template-columns: 2fr 1fr;
    gap: 2rem;
  }

  .summary.entry-summary {
    border-left: 3px solid var(--woo-color-2);
    padding-left: 2rem;
    padding-top: 0;
  }
}

@media (min-width: 1055px) {
  .woo-img-sum {
    grid-template-columns: 600px 1fr;
    gap: 2rem;
  }
}

.woocommerce-product-gallery {
  overflow: hidden;
}

.woocommerce-product-gallery__wrapper {
  margin: 0;
}

.flex-control-thumbs {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1rem;
  margin: 1rem 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  img {
    width: 100%;
  }
}

.woocommerce-notices-wrapper {
  margin-top: auto;

  >div {
    background: var(--woo-color-1);
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    text-align: center;
    font-style: italic;

    .button {
      margin: 1rem auto;
      font-style: normal;
    }
  }
}

.woocommerce-product-gallery__wrapper {
  img {
    width: auto;
    max-height: 60vh;
  }
}

.product_meta {
  span {
    display: block;
    font-weight: bold;

    span {
      display: inline-block;
      font-weight: normal;
    }

    a {
      font-weight: normal;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.woocommerce-product-attributes {
  font-size: var(--woo-small-font);
  text-align: right;

  p {
    margin: 0;
    display: inline-block;
  }

  .onsale {
    position: relative;
    right: 0;
  }
}

.related-title,
.upsell-title {
  font-size: var(--woo-small-font);
}

.wc-forward {
  text-align: right;
}

.woo-body {
  gap: 1rem;
  margin: 2rem 0;
}

@media (min-width: 800px) {
  .woo-body {
    gap: 2rem;
  }
}

.pswp__bg {
  background: var(--woo-color-1);
}

table.variations {
  width: 100%;

  tr {
    padding-bottom: 1rem;
    display: block;
  }

  td,
  th {
    border: none;
    padding: 0;
    display: grid;
    text-align: left;
    font-weight: normal;
    gap: 1rem;

    &.label {
      font-size: var(--woo-small-font);
      display: none;
    }
  }
}

@media (min-width: 400px) {
  table.variations {

    td,
    th {
      &.label {
        display: block;
        padding-left: 1rem;
      }
    }
  }
}

input[name="quantity"] {
  width: 70px;
  border-radius: 20px;
  padding-left: 2ch;
}

select {
  border-radius: 20px;
  background-color: #fff;
  padding-left: 2ch;
}

.woocommerce-variation-add-to-cart,
form.cart {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  &.variations_form {
    display: block;
  }
}

// HACK - gap ikke support
@media (max-width: 1099px) {

  .woocommerce-variation-add-to-cart,
  form.cart {
    gap: 0;

    >* {
      margin-bottom: 1rem;
    }

    button {
      margin-bottom: 0;
    }
  }
}

@media (min-width: 1100px) {

  .woocommerce-variation-add-to-cart,
  form.cart {
    flex-direction: row;
  }
}

.woocommerce {
  table {
    width: 100%;
  }

  td,
  th {
    border: none;
    padding: 0;
    line-height: 1.8;
  }

  th {
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: normal;
  }
}

td.product-name {
  font-weight: bold;
}

.woocommerce-cart-form .woocommerce-cart-form__contents tr {
  display: grid;
  grid-template-columns: (60px auto);
  gap: 0.5rem;
  border-bottom: 1px solid var(--woo-color-2);
  padding: 0.5rem 0;

  &:last-of-type {
    border: none;
  }
}

.woocommerce-cart-form .woocommerce-cart-form__contents tbody tr:last-of-type {
  grid-template-columns: 1fr;
}

.woocommerce-cart-form__contents {
  thead {
    display: none;
  }

  .product-price,
  .product-remove {
    display: none;
  }
}

.coupon {
  display: grid;
  gap: 1rem;
  margin: 1rem 0;
}

@media (min-width: 700px) {
  .woocommerce-cart-form__contents {
    thead {
      display: table-header-group;
    }

    .product-price,
    .product-remove {
      display: block;
    }

    .coupon {
      grid-template-columns: 1fr 1fr;
    }
  }

  .woocommerce-cart-form .woocommerce-cart-form__contents tr {
    align-items: center;
    grid-template-columns: 20px 60px 5fr 2fr 70px 2fr;
    gap: 1ch;
  }
}

.woocommerce-cart-form__cart-item {
  a {
    text-decoration: none;
    color: inherit;
  }
}

.cart-div {
  gap: 4vw;
}

.cart-collaterals {
  tr {
    th {
      display: flex;
    }

    &.woocommerce-shipping-totals {
      display: block;

      th {
        display: none;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }

        label {
          display: inline-block;
          margin-left: 1ch;
        }
      }
    }
  }
}

.wc-proceed-to-checkout {
  margin: 2rem 0 0 0;
}

@media (min-width: 1100px) {
  .cart-div {
    grid-template-columns: 2fr 1fr;
  }

  .cart-collaterals {
    border-left: 1px solid var(--woo-color-2);
    padding-left: 4vw;

    h2 {
      margin: 0 0 0.25rem 0;
      padding-bottom: 0.5rem;
      font-size: 1.1rem;
      border-bottom: 1px solid var(--border);
    }
  }
}

.order-total {
  border-bottom: 2px solid var(--woo-color-2);
}

.woocommerce-form-coupon-toggle {
  margin-bottom: 1rem;
  text-align: right;
  font-size: 0.85rem;
  font-style: italic;

  a {
    display: block;
    font-size: 1rem;
    font-style: normal;
  }
}

.checkout-spalter {
  display: grid;

  gap: 1rem;

  p {
    max-width: none;
    margin: 0 0 1rem 0;
    font-size: 1rem;
  }

  h3 {
    margin: 0 0 1rem 0;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85rem;
    max-width: inherit;
  }

  .betaling {
    h3 {
      font-weight: bold;
      font-size: 1rem;
    }
  }
}

@media (min-width: 800px) {
  .checkout-spalter {
    grid-template-columns: 2fr 3fr;
  }

  .checkout-spalter {
    gap: 4rem;
  }
}

.woocommerce-error {
  margin: 2rem 0;
  padding: 1rem 2rem;
  border-top: 1px solid var(--woo-red);
  border-bottom: 1px solid var(--woo-red);

  li {
    margin: 0;
  }
}

.select2-container--default .select2-selection--single {
  height: 2.5rem;
  background: #fff;
  border: 1px solid #bbb;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 2.5rem;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: 2.5rem;
}

.select2-dropdown {
  border-color: #bbb;
}

.select2-container--default .select2-results__option[aria-selected="true"],
.select2-container--default .select2-results__option[data-selected="true"] {
  background-color: rgba(0, 125, 187, 0.08);
}

.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[data-selected] {
  background: rgba(0, 125, 187, 0.03);
  color: inherit;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #bbb;
}

.prod-title {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}

.woo-title {
  font-weight: 600;
  margin-top: auto;
  line-height: 1.1;
}

.woocommerce-variation-description,
.woocommerce-shipping-destination {
  font-style: var(--woo-small-font);
  margin-bottom: 1rem;
}

.woocommerce-variation-price {
  margin-bottom: 1rem;
  color: var(--woo-green);
  font-weight: bold;
}

.cross-sells {
  border-top: 1px solid var(--woo-color-2);
  margin-top: 4vw;

  ul.products {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

section.up-sells,
section.related {
  border-top: 1px solid var(--woo-color-2);
  margin-top: 2rem;
  padding-top: 1rem;
}

table.woocommerce-table--order-details {
  border-top: 1px solid var(--woo-color-2);
  max-width: 700px;
  padding-top: 1rem;
  display: grid;
  text-align: left;

  tr {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  td,
  th {
    padding: 0 1rem 0 0;
  }
}

.woocommerce-checkout-review-order-table {}

ul.order_details {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}

.woocommerce-order {
  border-top: 1px solid var(--woo-color-2);
  padding-top: 1rem;
}

.woocommerce-notice {
  font-style: italic;
}

.woocommerce-billing-fields,
.shipping_address {
  label {
    font-size: var(--woo-small-font);
  }
}

.woocommerce-variation-availability {
  font-size: var(--woo-small-font);
  padding: 0.5rem 0;
  font-style: italic;
}

.woo-menu {
  gap: 1rem;
}

@media (min-width: 700px) {
  .woo-menu {
    align-items: center;
  }
}

.menu-inner {
  gap: 1rem 3rem;
  flex-wrap: wrap;
  align-items: center;
}

.components-modal__header {
  svg {
    max-width: inherit;
    cursor: pointer;
  }
}

h2.wc-block-mini-cart__title {
  display: none;
}

.wc-block-mini-cart__footer {
  background: var(--woo-color-2);
  border: none;
}

.wp-block-woocommerce-filled-mini-cart-contents-block {
  background: var(--woo-color-1);
}

.wc-block-mini-cart__drawer .components-modal__header svg {
  fill: var(--woo-red);
}

.remove {
  color: var(--woo-red) !important;
}

tfoot {
  text-align: left;
}

.woocommerce-checkout-payment {
  margin-top: 3rem;
}

@media (min-width: 400px) {

  #billing_first_name_field,
  #billing_postcode_field,
  #billing_phone_field,
  #shipping_first_name_field,
  #shipping_postcode_field {
    width: 48%;
    float: left;
  }

  #billing_last_name_field,
  #billing_city_field,
  #billing_email_field,
  #shipping_last_name_field,
  #shipping_city_field {
    width: 48%;
    float: right;
  }
}

.betaling {
  border: solid 1px var(--woo-pay-border);
  background-color: var(--woo-pay-bg);
  padding: 1rem;
  border-radius: 3px;

  .product-quantity {
    font-weight: normal;
    font-size: var(--woo-small-font);
  }
}

@media (min-width: 800px) {
  .betaling {
    padding: 3rem;
  }
}

#order_comments_field {
  margin: 0;
  max-width: inherit;
}

label[for="order_comments"] {
  display: none;
}

.wc_payment_methods {
  display: flex;
  margin: 1rem 0;
  padding: 0;
  border-top: 1px solid #fff;
  flex-wrap: wrap;

  li {
    list-style-type: none;

    margin: 0 0 1rem 0;
    padding: 0;
    max-width: inherit;
    width: 100%;

    label {
      display: inline;
    }
  }

  p {
    margin: 0;
  }
}

.woocommerce-additional-fields {
  h3 {
    display: none;
  }
}

button#place_order {
  margin-top: 2rem;
}

.checkout_coupon {
  p.form-row-last {
    margin: 0;
    overflow: hidden;
  }

  input {
    border-color: #bbb;

    &:focus {
      border: solid 1px var(--woo-pay-border);
      background-color: var(--woo-pay-bg);
    }
  }
}

.woocommerce-form-coupon {
  max-width: 400px;
  padding-bottom: 2rem;

  button {
    width: fit-content;
    padding-inline: 1rem;
    float: right;
    font-size: 0.85rem;
    text-transform: uppercase;
  }

  p:not(.form-row) {
    display: none;
  }
}

.product-total,
.cart-subtotal td,
.order-total td,
.tax-total td {
  text-align: right;
}

.prod-search-con {
  padding: 0 1rem;
  background: var(--woo-color-1);
  border-radius: 100vh;
  transition: 1s background;

  input.wp-block-search__input {
    background: transparent;
    border: none !important;
  }

  button[type="submit"].has-icon {
    display: flex;
    align-items: center;
    height: 48px;
    width: 48px;

    svg {
      fill: var(--woo-green) !important;
    }
  }

  .scroll & {
    background: var(--woo-blue);
    color: #fff;

    input {
      background: transparent;
    }

    button[type="submit"].has-icon svg {
      fill: #fff !important;
    }

    input::-moz-placeholder {
      color: #fff;
    }

    input::-webkit-input-placeholder {
      color: #fff;
    }

    input:-ms-input-placeholder {
      color: #fff;
    }
  }
}

p.price {
  font-size: 1.2rem;
}

.wc-block-mini-cart__amount {
  display: none;
}

#ship-to-different-address {
  clear: both;
}

#shipping_method {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  label {
    display: inline-block;
    margin-left: 1ch;
  }
}

.wc-block-components-price-slider--is-input-inline .wc-block-components-price-slider__controls .wc-block-components-price-slider__amount {
  max-width: fit-content;
}

.woocommerce-shipping-fields__field-wrapper {
  border: 1px solid var(--woo-pay-border);
  padding: 1rem 1rem 0 1rem;
  overflow: hidden;
  margin-bottom: 2rem;
  background-color: var(--woo-pay-bg);
}

.in-stock {
  margin: 0;
}

.woocommerce-cart-form__contents {
  thead {
    border-bottom: 1px solid var(--woo-color-2);
  }
}

.woo-figure {
  margin: 0;
  margin-bottom: 1rem;
}

.woo-cat {
  background-color: var(--main-bg);
  overflow: hidden;
  border-bottom: 1px solid var(--border);
}

tr.woocommerce-shipping-totals {
  display: grid;
}

.woocommerce-billing-fields {
  h3 {
    display: none;
  }
}

.cart-empty.woocommerce-info {
  font-size: 0.85rem;
  text-transform: uppercase;
  border: 1px solid var(--woo-pay-border);
  padding: 1rem 0;
  margin: 2rem 0;
  text-align: center;
  background-color: var(--woo-pay-bg);
  max-width: 415px;
  border-radius: 3px;
}

#webcart {
  fill: var(--menu-icon);
}

.itemsInCart #webcart .cir {
  animation: filter-animation 1s infinite;
}

.woocommerce-cart #webcart,
.woocommerce-cart #webcart .cir,
.woocommerce-checkout #webcart,
.woocommerce-checkout #webcart .cir {
  fill: #ddd;
  animation: none;
}

@keyframes filter-animation {
  0% {
    fill: #fff;
  }

  75% {
    fill: var(--menu-icon);
  }

  100% {
    fill: #fff;
  }
}

.is-success {
  svg {
    fill: green;
  }
}

.term-description,
.text-bottom {
  max-width: 75ch;
}

.wrap .wc-block-grid__product {
  max-width: none !important;

  a {
    display: flex;
    flex-flow: column;
    text-align: left;
    height: 100%;
  }

  .wp-block-button__link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    text-decoration: none;
    border-radius: 50vw;
    width: 100%;
    margin-top: auto;
    background: var(--woo-blue);
    align-items: center;
    text-align: center;
    color: #000;
    padding-block: 0.7rem;
    transition: box-shadow 0.5s;

    &:hover {
      box-shadow: inset 0 0px 50px #00000057;
      color: #fff;
    }
  }

  .wp-block-button {
    margin-top: auto;
  }

  .wc-block-grid__product-title {
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 5px;
    line-height: 1.1;
  }

  .price {
    text-align: left;
  }

  .wc-block-grid__product-onsale {
    position: absolute;
    background: rgba(237, 216, 0, 0.9);
    color: #000;
    border-radius: 0.5rem;
    padding: 4px 10px;
    line-height: 1.2;
    font-size: 0.8rem;
    font-weight: 300;
    right: 0.5rem;
    top: 0.5rem;
    text-transform: uppercase;
  }
}

.cart-con {
  align-self: center;
}