:root {
  --carousel-pad: 15px
}

.carousel {
  width: 100%;
  max-width: 1354px;
  margin: 2rem auto;
  position: relative;
  overflow: hidden
}

.carousel-item img {
  border-radius: 8px;
  width: 100%;
  height: auto;
  display: block
}

ul.products.carousel-track,
ul.wc-block-grid__products.carousel-track,
.carousel-track {
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
  transition: transform .5s;
  display: flex
}

.carousel-item {
  flex: none
}

@media (width>=1200px) {
  .carousel-item {
    width: calc(25% - 12px)
  }
}

@media (width>=900px) and (width<=1199px) {
  .carousel-item {
    width: calc(33.3333% - 10.6667px)
  }
}

@media (width>=320px) and (width<=899px) {
  .carousel-item {
    width: calc(50% - 8px)
  }
}

@media (width<=319px) {
  .carousel-item {
    width: 100%
  }
}

.prev,
.next {
  color: #fff;
  cursor: pointer;
  z-index: 10;
  background: #222222b3;
  border: none;
  border-radius: 5px;
  padding: .25rem .5rem;
  font-size: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &:hover {
    background: #c25a39
  }
}

.next {
  right: 0
}