$gap-xs: 0.5rem;
$gap-s: clamp(5px, 2vw, 1rem);
$gap-n: clamp(5px, 2vw, 2rem);
$gap-x: clamp(5px, 2vw, 3rem);

$aside-width-small: 200px;
$aside-width: 250px;

$font-l: 1.3rem;
$font-n: 1.1rem;
$font-s: 1rem;
$font-xs: 0.9rem;

$line-n: 1.7;
$line-s: 1.4;
$line-xs: 1.1;

$xxs: 0.5rem;
$xs: 0.8rem;
$s: 1rem;
$m: 1.1rem;
$l: 1.5rem;
$xl: 2rem;
$xxl: 3rem;
$xxxl: 4.5rem;
